@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes jump-once {
  0% {
    transform: translateY(0) scale(1);
  }
  20% {
    transform: translateY(-25%) scale(1.05, 0.95);
  }
  50% {
    transform: translateY(0) scale(0.95, 1.05);
  }
  70% {
    transform: translateY(-10%) scale(1.02, 0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.jump-once {
  animation: jump-once 0.4s cubic-bezier(0.28, 0.84, 0.42, 1);
}
